$color-white-0: #ffffff;

$color-black-0: #000000;

$color-grey-0: #e2d4f9;

$color-brown-0: #200d00;

$color-orange-0: #ff6435;

// Flex mixin
@mixin d-flex($jc: flex-start, $al: flex-start) {
  display: flex;
  align-items: $al;
  justify-content: $jc;
}

@mixin font-style($fs: 1.6rem, $fw: 400, $lh: 120%) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}
